
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root{
  --primary-text:#2d333b;
  --secondary-text:#757e7d;
  --alternative-text:#2d333b;
  --enfasis-text:#6c63fe;
  --background-body:white; 
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-body);
}

h1,h2,h4,h5,h6{
  color: var(--primary-text);
}

h3{
  color: var(--secondary-text);
}

p,span{
  color: var(--secondary-text);
}

.img-box img{
  transition: 0.5s all ease-in-out;
}

.img-box img:hover{
  transform: scale(1.1);
}

.img-box{
  overflow: hidden;
  width: 100%;
}

.icon-sm {
  font-size: 1.25rem;
  color: #ecf0f1;
  padding: 0.4rem 0.65rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  background-color: var(--secondary-text);
}

.icon-sm:hover {
  transition: 0.8s;
  color: white;
  background-color: var(--primary-text);
  cursor: pointer;
}

/*navbar*/
.my__navbar--brand{
  font-size: 1.8rem;
}

.my__nav--items{
  font-size: 1.3rem;
}

/*hero*/
.my__hero{
  padding-top: 5rem;
}

.my__hero--text{
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-text);
}

/*About*/

.about__box--card i{
  font-size: 2rem;
  color: var(--primary-text);
}
.about__box--card--experience, .about__box--card--education  {
  border: 1px solid var(--secondary-text);
  border-radius: 1.5rem;
  padding: 1rem;
  text-align: center;
}

/*Experience*/
.experience__box{
  border: 1px solid var(--secondary-text);
  border-radius: 1rem;
  padding: 2rem;
}

.experience__box i{
  font-size: 5rem;
  color: var(--secondary-text);
  margin: 0.8rem;
}

.experience i:hover{
  color: var(--primary-text);
  cursor:pointer;
  transition: 0.8s;
}

/*Projects*/
.projects__box--card {
  border: 1px solid var(--secondary-text);
  border-radius: 1rem;
  padding: 0.5rem;
}

/*Footer*/
.footer__text{
  float: right;
  text-align: right;
}


